<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="background-color:grey;">
<h1>
	<center> Serach CAPS Key :<br>
    <form action="#" th:action="@{/getpref}" th:object="${preferencespec}" method="post">
    	<p>key: <input type="text" th:field="*{prefkey}" /></p>
        <p><input type="submit" value="search" /> 
    </form>
     </center>
    </h1>
   
</body>
	 </central>
</html>
